.place-box {
  margin-top: 20px; }
  .place-box .panel-body {
    padding: 0; }
  .place-box__header {
    height: 220px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    position: relative; }
    .place-box__header:hover .place-box__icon {
      opacity: 1; }
  .place-box__overlay {
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    background-color: rgba(33, 33, 33, 0.5); }
  .place-box__title {
    text-align: center;
    width: 100%;
    padding: 0 10px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    z-index: 20;
    margin: 10px 0;
    color: white;
    max-height: 75%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }
  .place-box__icon {
    position: absolute;
    z-index: 20;
    color: white;
    cursor: pointer;
    top: 10px;
    opacity: 0;
    transition: all ease .2s;
    font-size: 25px; }
    .place-box__icon:hover {
      font-size: 35px; }
    .place-box__icon--active {
      color: #44c4e4;
      opacity: 1; }
    .place-box__icon--favorite {
      right: 5px; }
    .place-box__icon--open {
      left: 10px; }
  .place-box__content {
    padding: 20px 10px;
    height: 150px; }
  .place-box__description {
    margin: 15px 0 0;
    font-size: 18px;
    line-height: 22px; }
  .place-box__type-icon {
    width: 20px;
    height: 20px;
    display: block;
    background-repeat: no-repeat;
    background-size: cover; }

.loader {
  color: #555;
  font-size: 9px;
  margin: 100px auto;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  animation: load4 1.3s infinite linear;
  transform: translateZ(0); }

@-webkit-keyframes load4 {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0; }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em; }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em; }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em; }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em; }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em; }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0; }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em; } }

@keyframes load4 {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0; }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em; }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em; }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em; }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em; }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em; }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0; }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em; } }

.fade-in-enter {
  opacity: 0.01; }
  .fade-in-enter.fade-in-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in; }

.fade-in-leave {
  opacity: 1; }
  .fade-in-leave.fade-in-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in; }

.notification {
  position: absolute;
  top: 10px;
  right: 5px;
  display: block;
  background-color: #44c4e4;
  color: #fff;
  border-radius: 50%;
  min-height: 22px;
  min-width: 22px;
  text-align: center; }
  @media (min-width: 768px) {
    .notification {
      top: 0;
      right: -10px; } }

.navbar {
  margin-bottom: 0; }

.custom-page-header {
  padding: 0 20px 20px;
  border-bottom: 1px solid #eee;
  text-align: center; }

.content {
  padding: 20px; }

.content p {
  font-size: 18px;
  margin-bottom: 0; }

.content__row {
  padding: 0 20px; }
